
<%= form_with(model: @reservation, local: true) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2>
        The following errors prevented this reservation from being saved:
      </h2>
      <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :start, 'Reservation Time' %><br>
    <%= form.datetime_select :start, :ampm => true, :minute_step => 30 %>
  </p>
  <p>
    <%= form.label :duration, 'Reservation Length in Hours' %><br>
    <%= form.number_field :duration, min: 2, max: 8, step: 0.5, value: 2 %>
  </p>
  <p>
    <%= form.label :party_size, 'Party Size' %>
    <%= form.number_field :party_size, min: 2, max: 10, step: 1, value: 2 %>
  </p>
  <p>
    <%= form.label :email, 'Email' %>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
