<h1>Reservations</h1>
<% @tables.each do |table| %>
  <table class='table table-striped table-bordered'>
    <caption><%= "#{table.name} (#{table.seats} seats)" %></caption>
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Party Size</th>
        <th>Contact Email</th>
      </tr>

    <% table.reservations.sort_by(&:start).each do |reservation| %>
      <tr>
        <td class='col-lg-2'><%= reservation.start %></td>
        <td class='col-lg-2'><%= reservation.end_time %></td>
        <td class='col-lg-1'><%= reservation.party_size %></td>
        <td class='col-lg-1'><%= reservation.email %></td>
      </tr>
    <% end %>
  </table>
<% end %>
