<h1>New Table</h1>

<%= form_with model: @table, local: true do |form|  %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: 'a new table' %>
  </p>

  <p>
    <%= form.label :seats %><br>
    <%= form.number_field :seats, min: 2, max: 10, step: 1, value: 6 %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', tables_path %>
